name = "value-time-room"
main = "worker.js"
compatibility_date = "2025-01-01"

[durable_objects]
bindings = [
  { name = "ROOMS", class_name = "RoomDO" }
]

[[migrations]]
tag = "v1"
new_sqlite_classes = ["RoomDO"]
